<div id="content_header">
	<%= link_to "Mine",     :action => "list_mine" %> |
	<%= link_to "Friends'", :action => "list_friends" %> |
	<%= link_to "Public",   :action => "list_public" %> |
	<%= link_to "Search",   :action => "search" %> |
	<%= link_to "New",      :action => "new" %> |
</div>