<div id="leftnav">
  <%= nav_link "Tasting Notes",		"tastingnote" %> <br>
  <%= nav_link "Wines",	            "wine" %> <br>
  <%= nav_link "Bottles",           "bottle" %> <br>
  <hr>
  <%= nav_link "Countries",         "country" %> <br>
  <%= nav_link "Appellation Types", "apptype" %> <br>
  <%= nav_link "Appellations",		"appellation" %> <br>
  <%= nav_link "Grapes",			"grape" %> <br>
  <hr>
  <%= nav_link "Users",			    "user"%> <br>
  <%= nav_link "Admin",			    "admin" %>
</div>		  		  
