<% # saved as of 10 July 2008 11:00 AM  %>
<% # need to tweak to restore use of partials.  %>
<% # need to tweak grape_controller.rb as well.  %>

<% # 10 July 2008 13:00  %>
<% # work completed in main branch of source code -- keep this for example only %>

<%= render :partial => "shared/content_header" %>

<h2><%= @title %></h2>
<h3>debug stuff</h3>
<p>ID = <%= @grape.id %></p>
<p>Name = <%= @grape.name %></p>
<p>Notes = <%= @grape.notes %></p>

<h3> here we go...</h3>
<% form_tag :action => 'update', :id => @grape do %>
  <fieldset>
  	<legend>Edit Details</legend>
	
	<%= error_messages_for "grape" %>
	
	<p>ID from params: <%= params[:id] %></p>
    <p>ID from @grapes: <%= @grape.id %></p>
	
	<p><label for="name">Name</label>: <%= text_field 'grape', 'name' %></p>
	<p><label for="notes">Notes</label>: <%= text_area('grape', 'notes') %></p>
    <div class="form_row">
	    <%= submit_tag "Save Changes", :class => "submit" %>
    </div>
	
  </fieldset>
<% end %>
